In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import copy

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
#import train and test datasets
train = pd.read_csv('/home/felix/Downloads/zimnat/Train.csv', parse_dates = ['join_date'])
test = pd.read_csv('/home/felix/Downloads/zimnat/Test.csv', parse_dates=['join_date'])
submission = pd.read_csv('/home/felix/Downloads/zimnat/SampleSubmission.csv')

In [3]:
train.head(20)

         ID  join_date sex marital_status  birth_year branch_code occupation_code occupation_category_code  P5DA  RIBP  8NN1  7POT  66FJ  GYSR  SOP4  RVSZ  PYUQ  LJR9  N2MW  AHXO  BSTQ  FM3X  K6QO  QBOL  JWFN  JZ9D  J9JW  GHYX  ECY3
0   4WKQSBB 2019-01-02   F              M        1987        1X1H            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
1   CP5S02H 2019-01-06   F              M        1981        UAOD            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
2   2YKDILJ 2013-01-06   M              U        1991        748L            QZYX                     90QI     0     0     0     0     0     0     1     1     0     0     0     0     0     0     0     0     0     0     0     0     1
3   2S9E81J 2019-01-08   M              M        1990        1X1H            BP09                     56SI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
4   BHDYVFT 2019-01-08   M              M        1990        748L            NO3L                     T4MS     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     1     1     0     0
5   2ZFEPSR 2010-01-09   F              U        1981        748L            0OJM                     T4MS     0     1     1     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0
6   IJTBZFM 2019-01-09   M              M        1984        748L            UJ5T                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
7   6ZOZFNF 2017-01-05   F              M        1977        E5SW            0KID                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     0     1     0     0     0     0     0
8   G4P89ZS 2018-01-05   M              M        1990        XX25            SST3                     56SI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
9   G05BOWG 2018-01-11   M              M        1995        XX25            RUFT                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
10  PVWNVLG 2015-01-10   M              M        1985        ZFER            2A7I                     T4MS     0     0     0     0     0     0     0     0     1     0     0     0     0     1     0     0     0     0     0     0     0
11  2RUZE97 2019-01-01   M              M        1994        748L            B3QW                     90QI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
12  0JI1SOP 2018-01-05   M              M        1987        1X1H            SST3                     56SI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
13  R28U7H0 2017-01-02   M              M        1958        ZFER            P4MD                     90QI     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     1     0     0     0     0     0
14  R14Y248 2018-01-08   F              M        1986        XX25            BPSA                     90QI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     1     0     0     0     0     0
15  D713A6Y 2017-01-07   M              M        1959        748L            B8W8                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     1     0     0     0     1     0
16  4IOXDPT 2020-01-06   M              U        1977        748L            OPVX                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     1     0     0     0     0     0
17  WNUIY36 2018-01-05   M              M        1994        748L            SST3                     56SI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
18  PSG1T6G 2016-01-03   M              M        1984        ZFER            2A7I                     T4MS     0     0     0     0     0     0     0     0     1     0     0     0     1     0     0     0     0     0     0     0     0
19  3K53G0X 2017-01-06   M              U        1966        748L            0OJM                     T4MS     0     1     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0

In [4]:
train.shape

(29132, 29)

In [7]:
X_train = []
X_train_columns = train.columns
c = 0
for v in train.values:
    info = v[:8]
    binary = v[8:]
    index = [k for k, i in enumerate(binary) if i == 1]
    for i in index:
        c += 1
        for k in range(len(binary)):
            if k == i:
                binary_transformed = list(copy.copy(binary))
                binary_transformed[i] = 0
                X_train.append(list(info) + binary_transformed + [X_train_columns[8+k]] + [c])
                

                
X_train = pd.DataFrame(X_train)
X_train.columns = ['ID', 'join_date', 'sex', 'marital_status', 'birth_year', 'branch_code', 'occupation_code', 'occupation_category_code', 'P5DA', 'RIBP', '8NN1', '7TPOT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO', 'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3', 'product_pred', 'ID2']

In [5]:
X_test = []
true_values = []
c = 0
for v in test.values:
  c += 1
  info = v[:8]
  binary = v[8:]
  index = [k for k, i in enumerate(binary) if i == 1]
  X_test.append(list(info) + list(binary) + [c])
  for k in test.columns[8:][index]:
    true_values.append(v[0] + ' X ' + k)

X_test = pd.DataFrame(X_test)
X_test.columns = ['ID', 'join_date', 'sex', 'marital_status', 'birth_year', 'branch_code',
       'occupation_code', 'occupation_category_code', 'P5DA', 'RIBP', '8NN1',
       '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO',
       'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3', 'ID2']

In [8]:
X_train.head()

        ID  join_date sex marital_status  birth_year branch_code occupation_code occupation_category_code  P5DA  RIBP  8NN1  7TPOT  66FJ  GYSR  SOP4  RVSZ  PYUQ  LJR9  N2MW  AHXO  BSTQ  FM3X  K6QO  QBOL  JWFN  JZ9D  J9JW  GHYX  ECY3 product_pred  ID2
0  4WKQSBB 2019-01-02   F              M        1987        1X1H            2A7I                     T4MS     0     0     0      0     0     0     0     0     0     0     0     0     0     0     1     0     0     0     0     0     0         RVSZ    1
1  4WKQSBB 2019-01-02   F              M        1987        1X1H            2A7I                     T4MS     0     0     0      0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0         K6QO    2
2  CP5S02H 2019-01-06   F              M        1981        UAOD            2A7I                     T4MS     0     0     0      0     0     0     0     0     0     0     0     0     0     0     1     0     0     0     0     0     0         RVSZ    3
3  CP5S02H 2019-01-06   F              M        1981        UAOD            2A7I                     T4MS     0     0     0      0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0         K6QO    4
4  2YKDILJ 2013-01-06   M              U        1991        748L            QZYX                     90QI     0     0     0      0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     1         SOP4    5

In [7]:
train.head()

        ID  join_date sex marital_status  birth_year branch_code occupation_code occupation_category_code  P5DA  RIBP  8NN1  7POT  66FJ  GYSR  SOP4  RVSZ  PYUQ  LJR9  N2MW  AHXO  BSTQ  FM3X  K6QO  QBOL  JWFN  JZ9D  J9JW  GHYX  ECY3
0  4WKQSBB 2019-01-02   F              M        1987        1X1H            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
1  CP5S02H 2019-01-06   F              M        1981        UAOD            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
2  2YKDILJ 2013-01-06   M              U        1991        748L            QZYX                     90QI     0     0     0     0     0     0     1     1     0     0     0     0     0     0     0     0     0     0     0     0     1
3  2S9E81J 2019-01-08   M              M        1990        1X1H            BP09                     56SI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
4  BHDYVFT 2019-01-08   M              M        1990        748L            NO3L                     T4MS     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     1     1     0     0

In [9]:
X_test.head()

        ID  join_date sex marital_status  birth_year branch_code occupation_code occupation_category_code  P5DA  RIBP  8NN1  7POT  66FJ  GYSR  SOP4  RVSZ  PYUQ  LJR9  N2MW  AHXO  BSTQ  FM3X  K6QO  QBOL  JWFN  JZ9D  J9JW  GHYX  ECY3  ID2
0  F86J5PC 2018-01-12   M              M        1984        94KC            DZRV                     90QI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0    1
1  H6141K3 2019-01-10   M              M        1996        1X1H            J9SY                     90QI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0    2
2  RBAYUXZ 2020-01-01   F              W        1968        UAOD            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0    3
3  KCBILBQ 2019-01-02   M              M        1989        94KC            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0    4
4  LSEC1ZJ 2020-01-02   F              M        1982        UAOD            0KID                     T4MS     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     1     0     0     0    5

In [10]:
test.head()

        ID  join_date sex marital_status  birth_year branch_code occupation_code occupation_category_code  P5DA  RIBP  8NN1  7POT  66FJ  GYSR  SOP4  RVSZ  PYUQ  LJR9  N2MW  AHXO  BSTQ  FM3X  K6QO  QBOL  JWFN  JZ9D  J9JW  GHYX  ECY3
0  F86J5PC 2018-01-12   M              M        1984        94KC            DZRV                     90QI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0
1  H6141K3 2019-01-10   M              M        1996        1X1H            J9SY                     90QI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
2  RBAYUXZ 2020-01-01   F              W        1968        UAOD            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
3  KCBILBQ 2019-01-02   M              M        1989        94KC            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0
4  LSEC1ZJ 2020-01-02   F              M        1982        UAOD            0KID                     T4MS     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     1     0     0     0

In [10]:
print(X_test.shape, test.shape)
print(X_train.shape, train.shape)
print(X_test1.shape, test.shape)

(10000, 30) (10000, 29)
(66353, 31) (29132, 29)
(12853, 31) (10000, 29)

In [7]:
print(X_train.shape)
print(train.shape)

(66353, 31)
(29132, 29)

In [ ]:
features_train = []
columns = []

append_features = []

In [9]:
X_test1 = []
X_test1_columns = test.columns
c = 0
for v in test.values:
    info = v[:8]
    binary = v[8:]
    index = [k for k, i in enumerate(binary) if i == 1]
    for i in index:
        c += 1
        for k in range(len(binary)):
            if k == i:
                binary_transformed = list(copy.copy(binary))
                binary_transformed[i] = 0
                X_test1.append(list(info) + binary_transformed + [X_test1_columns[8+k]] + [c])
                

                
X_test1 = pd.DataFrame(X_test1)
X_test1.columns = ['ID', 'join_date', 'sex', 'marital_status', 'birth_year', 'branch_code', 'occupation_code', 'occupation_category_code', 'P5DA', 'RIBP', '8NN1', '7TPOT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO', 'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3', 'product_pred', 'ID2']

In [11]:
X_test1.head()

        ID  join_date sex marital_status  birth_year branch_code occupation_code occupation_category_code  P5DA  RIBP  8NN1  7TPOT  66FJ  GYSR  SOP4  RVSZ  PYUQ  LJR9  N2MW  AHXO  BSTQ  FM3X  K6QO  QBOL  JWFN  JZ9D  J9JW  GHYX  ECY3 product_pred  ID2
0  F86J5PC 2018-01-12   M              M        1984        94KC            DZRV                     90QI     0     0     0      0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0         RVSZ    1
1  H6141K3 2019-01-10   M              M        1996        1X1H            J9SY                     90QI     0     0     0      0     0     0     0     0     0     0     0     0     0     0     1     0     0     0     0     0     0         RVSZ    2
2  H6141K3 2019-01-10   M              M        1996        1X1H            J9SY                     90QI     0     0     0      0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0         K6QO    3
3  RBAYUXZ 2020-01-01   F              W        1968        UAOD            2A7I                     T4MS     0     0     0      0     0     0     0     0     0     0     0     0     0     0     1     0     0     0     0     0     0         RVSZ    4
4  RBAYUXZ 2020-01-01   F              W        1968        UAOD            2A7I                     T4MS     0     0     0      0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0         K6QO    5

In [12]:
test.head()

        ID  join_date sex marital_status  birth_year branch_code occupation_code occupation_category_code  P5DA  RIBP  8NN1  7POT  66FJ  GYSR  SOP4  RVSZ  PYUQ  LJR9  N2MW  AHXO  BSTQ  FM3X  K6QO  QBOL  JWFN  JZ9D  J9JW  GHYX  ECY3
0  F86J5PC 2018-01-12   M              M        1984        94KC            DZRV                     90QI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0
1  H6141K3 2019-01-10   M              M        1996        1X1H            J9SY                     90QI     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
2  RBAYUXZ 2020-01-01   F              W        1968        UAOD            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     1     0     0     0     0     0     0
3  KCBILBQ 2019-01-02   M              M        1989        94KC            2A7I                     T4MS     0     0     0     0     0     0     0     1     0     0     0     0     0     0     0     0     0     0     0     0     0
4  LSEC1ZJ 2020-01-02   F              M        1982        UAOD            0KID                     T4MS     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     0     1     0     0     0